# Dependencies
node_modules/

# Build
dist/
dist-ssr/
build/
*.local

# Env
.env
.env.*
!.env.example

# Database
backend/prisma/*.db
backend/prisma/*.db-journal

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.class
*.exe
*.dll
*.o
*.so
*.dylib
*.log
